.DS_Store
._.DS_Store
.idea
.sublime-grunt.cache
node_modules
bower_components
dist
.tmp
*.log
*.css
web/report
build
web/specs.html
web/loginapp/node_modules
*.orig
packages
api/WebApplication1/packages
api/WebApplication1/bin
api/WebApplication1/obj
api/UnitTestProject1/packages
api/UnitTestProject1/bin
api/UnitTestProject1/obj
api/.vs